.section {
  padding: 0.5em 2em;
}
.goBackSec {
  padding: 0.5em 0;
}
.goBack {
  background-color: rgb(112, 0, 112);
  color: white;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  padding: 0.5em 1em;
  text-align: center;
}
.goBack:hover,
.goBack:focus {
  box-shadow: inset 1px 1px 3px 4px rgb(77, 4, 77);
  color: lightgray;
}
.mainDescription {
  display: flex;
  flex-direction: row;
  gap: 2em;
  border-bottom: 1px solid lightgrey;
  padding-bottom: 1em;
}
.poster {
  max-width: 25vh;
}
.title {
  font-size: 30px;
  color: rgb(112, 0, 112);
}
.additional {
  border-bottom: 1px solid lightgrey;
}
.genres {
  font-size: 14px;
  font-weight: 500;
  color: rgb(80, 79, 79);
}
.linkItem:hover,
.linkItem:focus {
  color: rgb(112, 0, 112);
  font-weight: 700;
}
