.section {
  padding: 1em 3em;
}
.goBackSec {
  padding: 0 0 1em 0;
}
.goBack {
  background-color: rgb(112, 0, 112);
  color: white;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  padding: 0.5em 1em;
  text-align: center;
}
.goBack:hover,
.goBack:focus {
  box-shadow: inset 1px 1px 3px 4px rgb(77, 4, 77);
  color: lightgray;
  border-radius: 7px;
}
.mainDescription {
  max-width: 95%;
  display: flex;
  flex-direction: row;
  gap: 3em;
  border-bottom: 1px solid lightgrey;
  padding-bottom: 1em;
  font-size: 1.1em;
  line-height: 1.35;
}
.poster {
  max-width: 20%;
}
.title {
  font-size: 2em;
  color: rgb(112, 0, 112);
}
.additional {
  border-bottom: 1px solid lightgrey;
}
.additional h5 {
  font-size: 0.9em;
}
.genres {
  font-size: 0.9em;
  font-weight: 500;
  color: rgb(80, 79, 79);
}
.linkItem {
  text-underline-offset: 0.2em;
  color: rgb(112, 0, 112);
  font-weight: 500;
  font-size: 1.1em;
}
.linkItem:hover,
.linkItem:focus {
  font-weight: 700;
}
