.list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 2em;
  list-style: none;
}
.listItem {
  max-width: 25vw;
}
.poster {
  max-width: 15vw;
}
.description {
  max-width: 15vw;
  height: 3vh;
  font-size: 14px;
  font-weight: 500;
  color: rgb(112, 0, 112);
}
