.list {
  padding-top: 0.7em;
  list-style-type: none;
}
.listItem {
  background-color: rgb(221, 221, 221);
  max-width: 40vw;
  border-radius: 30px;
  padding: 0.15em 3em;
  margin-bottom: 0.5em;
  box-shadow: inset 1px 1px 5px 5px rgb(245, 244, 244);
}
.listItem a {
  font-weight: 700;
}
.listItem a:hover,
.listItem a:focus {
  color: rgb(112, 0, 112);
  font-weight: 700;
}
